.directionsSection {
  background: #cbff4d;
  border-radius: 18px;
  padding: 30px;
}
.directionsTitle {
  margin-bottom: 12px;
  font-size: 1.2em;
  font-weight: 700;
}
.directionsList {
  display: flex;
  flex-wrap: wrap;
  gap: 34px 116px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.directionsItem {
  color: rgba(0, 0, 0, 1);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
  width: 284px;
  display: flex;
  gap: 8px;
}
.sparcle {
  width: 26px;
  height: 26px;
}
