.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.34);
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #fff;
  border-radius: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  min-width: 330px;
  box-shadow: 0 7px 40px rgba(48, 54, 67, 0.09);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
}

.logo {
  margin-bottom: 48px;
}

.form {
  width: 280px;
  display: flex;
  flex-direction: column;
}

.input {
  height: 48px;
  padding-left: 18px;
  border-radius: 8px;
  border: 1px solid rgba(208, 206, 206, 1);
  font-size: 1rem;
  font-family: inherit;
  outline: none;
  transition: border 0.2s;
  color: rgba(0, 0, 0, 1);
  font-family: var(--font-montserrat), sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
  background: rgba(255, 255, 255, 1);
  &:focus {
    background: rgba(255, 255, 255, 1);
  }
}
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 1) inset;
  box-shadow: 0 0 0 1000px rgba(255, 255, 255, 1) inset;
  -webkit-text-fill-color: rgba(0, 0, 0, 1);
  transition: background-color 5000s ease-in-out 0s;
}
.inputError {
  border-color: #f00 !important;
  box-shadow: 0 0 0 1.5px #f00 !important;
}
.errorTextField {
  color: #f00;
  font-size: 12px;
  margin: 2px 0 6px 2px;
  min-height: 16px;
}
.errorText {
  color: #f95353;
  font-size: 0.92em;
  text-align: left;
  margin-bottom: -7px;
  margin-top: -5px;
}

.btn {
  width: 100%;
  background: rgba(188, 236, 48, 1);
  border: none;
  border-radius: 46px;
  padding: 13px 0;
  font-weight: 600;
  font-size: 1.05em;
  transition: box-shadow 0.13s;
  cursor: pointer;
  color: rgba(0, 0, 0, 1);
  font-family: var(--font-montserrat), sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
}

.btn:hover {
  background: rgba(198, 255, 0, 1);
}

.btnSec {
  width: 100%;
  background: rgba(255, 255, 255, 1);
  border-radius: 46px;
  border: 1px solid rgba(0, 0, 0, 1);
  padding: 13px 0;
  font-size: 1.03em;

  cursor: pointer;
  transition: border 0.15s;
  color: rgba(0, 0, 0, 1);
  font-family: var(--font-montserrat), sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
}

.btnSec:hover {
  background: rgba(247, 247, 247, 1);
}
.nav {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input__fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.errorText {
  color: rgba(219, 0, 48, 1);
  font-family: var(--font-montserrat), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 10px;
}
@media (max-width: 600px) {
  .modal {
    width: 343px;
    border-radius: 30px;
    padding: 40px;
    box-sizing: border-box;
  }

  .logo {
    margin-bottom: 32px;
    max-width: 65vw;
    width: 220px;
    height: 35px;
  }
}
